@prefix-cls: ~'@{namespace}-dataset-task';
.@{prefix-cls} {
  background: white;
  .wrapper {
    margin: 0 auto;
    width: 960px;
    padding-top: 20px;
  }
  .action-bar {
    display: flex;
    justify-content: space-between;
    & > div {
      display: flex;
    }
    .info-box {
      align-items: center;
      .label {
        font-size: 28px;
      }
      .task-selector {
        margin-left: 15px;
        margin-right: 10px;
      }
    }
    .actions {
      align-items: center;
      .btn {
        margin-left: 10px;
        width: 105px;
      }
    }
  }
  .title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
  }
  .config {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .panel {
    border: 1px solid #ccc;
    border-radius: 14px;
    padding: 10px;
  }
  .class-selected-list {
    .panel;
    display: flex;
    overflow-x: scroll;
    .class-card {
      flex-shrink: 0;
      margin-right: 10px;
    }
    .add-class-card {
      flex-shrink: 0;
      padding-top: 12px;
      width: 102px;
      height: 102px;
      border: 1px solid #dddddd;
      box-sizing: border-box;
      border-radius: 4px;
      text-align: center;
      .text {
        margin-top: 11px;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
  .flow-pannel {
    .panel;
    .flow-wrapper {
      width: 100%;
      overflow-x: scroll;
    }
    .flow-list,
    .flow-wrapper {
      display: flex;
      .item {
        flex-shrink: 0;
        background: #f7f7f7;
        border: 1px solid #ccc;
        margin-right: 20px;
        width: 180px;
        height: 335px;
        border-radius: 4px;
        position: relative;

        .action-wrap {
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          flex: 1;
          font-size: 20px;
          .desc {
            margin-bottom: 10px;
          }
          .actions {
            display: flex;
            flex-direction: row;
            & > img {
              width: 36px;
              height: 36px;
              margin-right: 12px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }

        .arrow {
          position: absolute;
          right: -22px;
          top: 47%;
          color: #c4c4c4;
        }

        .card-title {
          display: flex;
          align-items: center;
          padding: 6px;
          justify-content: space-between;
          .wrap {
            display: inline-flex;
            align-items: center;
            font-size: 15px;
          }
          img {
            width: 20px;
            height: 20px;
            margin-right: 6px;
          }
        }
        .action-icon {
          color: #aaaaaa;
          display: inline-flex;
          align-items: center;
          .drag {
            cursor: move;
            &.order {
              transform: rotate(90deg);
            }
          }
        }

        .user-list {
          .search {
            padding: 6px;
          }
          .list {
            .user {
              display: flex;
              border-radius: 30px;
              cursor: pointer;
              margin-left: 6px;
              margin-right: 6px;
              padding: 1px;
              height: 20px;
              box-sizing: content-box;
              line-height: 20px;
              align-items: center;
              margin-bottom: 4px;
              border: 1px solid transparent;
              &.active {
                background: #eeeeee;
                border: 1px solid #cccccc;
              }
              img {
                width: 20px;
                height: 20px;
                margin-right: 8px;
              }
            }
          }
        }
      }
    }
    .success-status {
      display: inline-flex;
      align-items: center;
    }
  }
}
