.ModalConfirmCustom .ant-modal-content {
  background: #393c45;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
  border-radius: 14px;
}
.ModalConfirmCustom .ant-modal-content .ant-btn-primary {
  background: #60a9fe;
}
