<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.basic.x1.adapter.port.dao.mybatis.mapper.ClassMapper">

    <!-- generic query result column -->
    <sql id="Base_Column_List">
        id, ontology_id, name, color, tool_type, tool_type_options, attributes,created_at, created_by, updated_at, updated_by
    </sql>
    <select id="countGroupByOntologyId" resultType="ai.basic.x1.adapter.port.dao.mybatis.model.Class">
        select ontology_id as "ontology_id",
               count(id) as "class_num"
        from class
        where ontology_id in
            <foreach collection="ontologyIds" item="ontology_id" index="index" open="(" close=")" separator=",">
                #{ontology_id}
            </foreach>
        group by ontology_id;
    </select>
    <select id="getClasses" resultType="ai.basic.x1.adapter.port.dao.mybatis.model.Class">
        SELECT
        <include refid="Base_Column_List"/>
        FROM class
        WHERE
        ontology_id = #{ontologyId}
        and (name, tool_type) IN (
        <foreach collection="list" item="item" separator=",">
            (#{item.name},#{item.toolType})
        </foreach>
        )
    </select>

    <insert id="saveOrUpdateBatch">
        INSERT INTO class (ontology_id, name, color, tool_type,tool_type_options, attributes, created_by, updated_by)
        VALUES
        <foreach collection="list" item="item"  separator=",">
            (#{item.ontologyId},#{item.name},#{item.color},#{item.toolType},
            #{item.toolTypeOptions,jdbcType=OTHER,typeHandler=com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler},
            #{item.attributes,jdbcType=OTHER,typeHandler=com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler},
            #{item.createdBy},#{item.updatedBy})
        </foreach>
        ON DUPLICATE KEY UPDATE color=VALUES(color),
        tool_type_options=VALUES(tool_type_options),
        attributes=VALUES(attributes),
        updated_by=VALUES(updated_by)
    </insert>


</mapper>