<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.basic.x1.adapter.port.dao.mybatis.mapper.ClassificationMapper">

    <!-- generic query result colum -->
    <sql id="Base_Column_List">
        id, ontology_id, name, color, dataset_type, is_required, input_type, options,created_at, created_by, updated_at, updated_by
    </sql>
    <insert id="saveOrUpdateBatch">
        INSERT INTO classification (ontology_id, name, is_required, input_type,attribute, created_by, updated_by)
        VALUES
        <foreach collection="list" item="item"  separator=",">
            (#{item.ontologyId},#{item.name},#{item.isRequired},#{item.inputType},
            #{item.attribute,jdbcType=OTHER,typeHandler=com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler},
            #{item.createdBy},#{item.updatedBy})
        </foreach>
        ON DUPLICATE KEY UPDATE is_required=VALUES(is_required),
        input_type=VALUES(input_type),
        attribute=VALUES(attribute),
        updated_by=VALUES(updated_by)
    </insert>


</mapper>