<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.basic.x1.adapter.port.dao.mybatis.mapper.DataAnnotationRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ai.basic.x1.adapter.port.dao.mybatis.model.DataAnnotationRecord">
        <id column="id" property="id" />
        <result column="dataset_id" property="datasetId" />
        <result column="item_type" property="itemType" />
        <result column="serial_no" property="serialNo" />
        <result column="created_by" property="createdBy" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,dataset_id,item_type,serial_no,created_by, created_at
    </sql>


</mapper>