<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.basic.x1.adapter.port.dao.mybatis.mapper.DatasetClassMapper">

    <!-- generic query result colum -->
    <sql id="Base_Column_List">
        id, dataset_id, type, name, color, tool_type, attributes, created_at, created_by, updated_at, updated_by
    </sql>

    <select id="statisticsObjectByClass"
            resultType="ai.basic.x1.adapter.port.dao.mybatis.model.ClassStatisticsUnit">
        SELECT dao.class_id AS classId,
            count(*) AS objectAmount
        FROM data d INNER JOIN data_annotation_object dao ON d.id = dao.data_id
                    INNER JOIN dataset_class dc ON dc.id = dao.class_id
        WHERE d.dataset_id = #{datasetId} AND d.is_deleted = FALSE
        GROUP BY dao.class_id
        ORDER BY objectAmount
    </select>

    <select id="statisticsObjectByToolType"
            resultType="ai.basic.x1.adapter.port.dao.mybatis.model.ToolTypeStatisticsUnit">
        SELECT dc.tool_type AS toolType,
               count(*) AS objectAmount
        FROM data_annotation_object dao INNER JOIN dataset_class dc ON dao.class_id = dc.id
                              INNER JOIN data d ON d.id = dao.data_id
        WHERE d.dataset_id = #{datasetId}
          AND d.is_deleted = FALSE
        GROUP BY dc.tool_type
    </select>
</mapper>