<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.basic.x1.adapter.port.dao.mybatis.mapper.DatasetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ai.basic.x1.adapter.port.dao.mybatis.model.Dataset">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="description" property="description"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="del_unique_key" property="delUniqueKey"/>
        <result column="created_at" property="createdAt"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="updated_by" property="updatedBy"/>
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="DataInfoResultMap" type="ai.basic.x1.adapter.port.dao.mybatis.model.DataInfo">
        <id column="id" property="id"/>
        <result column="dataset_id" property="datasetId"/>
        <result column="name" property="name"/>
        <result column="content" property="content"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="status" property="status"/>
        <result column="annotation_status" property="annotationStatus"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="created_at" property="createdAt"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="updated_by" property="updatedBy"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,`name`, `type`, description,is_deleted, created_at, created_by, updated_at, updated_by
    </sql>

    <select id="selectDatasetPage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM dataset ${ew.customSqlSegment}
    </select>

    <select id="queryData" resultMap="DataInfoResultMap">
        select * from `data` where dataset_id =#{id} AND is_deleted=0 ORDER BY name ASC limit 6;
    </select>

    <select id="countObject" resultType="java.lang.Long">
        select count(*) from `data` d inner join data_annotation_object dao
            on d.id = dao.data_id
        where d.dataset_id = #{datasetId} and d.is_deleted = FALSE
    </select>

    <delete id="deleteById">
        update dataset set del_unique_key = id, is_deleted = true where id = #{id}
    </delete>
</mapper>