<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.basic.x1.adapter.port.dao.mybatis.mapper.ExportRecordMapper">
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, serial_number, file_id,file_name, status, generated_num, total_num, created_at, created_by, updated_at, updated_by
    </sql>


</mapper>