<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.basic.x1.adapter.port.dao.mybatis.mapper.FileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ai.basic.x1.adapter.port.dao.mybatis.model.File">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="original_name" property="originalName" />
        <result column="path" property="path" />
        <result column="path_hash" property="pathHash" />
        <result column="zip_path" property="zipPath" />
        <result column="type" property="type" />
        <result column="size" property="size" />
        <result column="bucket_name" property="bucketName" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
        <result column="updated_at" property="updatedAt" />
        <result column="updated_by" property="updatedBy" />
        <result column="relation_id" property="relationId" />
        <result column="relation" property="relation" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, original_name, path,path_hash,zip_path, type, size, bucket_name, created_at, created_by, updated_at, updated_by, relation_id, relation
    </sql>

</mapper>