<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.basic.x1.adapter.port.dao.mybatis.mapper.ModelDataResultMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ai.basic.x1.adapter.port.dao.mybatis.model.ModelDataResult">
        <id column="id" property="id" />
        <result column="model_id" property="modelId" />
        <result column="model_version" property="modelVersion" />
        <result column="dataset_id" property="datasetId" />
        <result column="data_id" property="dataId" />
        <result column="model_serial_no" property="modelSerialNo"/>
        <result column="result_filter_param" property="resultFilterParam"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="model_result" property="modelResult"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
        <result column="updated_at" property="updatedAt" />
        <result column="updated_by" property="updatedBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,model_id, model_version, dataset_id, data_id,model_serial_no,result_filter_param, model_result, created_at, created_by, updated_at, updated_by
    </sql>


</mapper>