@font-face {
  font-family: "iconfont"; /* Project id 3295834 */
  src: url('iconfont.woff2?t=1659510737631') format('woff2'),
       url('iconfont.woff?t=1659510737631') format('woff'),
       url('iconfont.ttf?t=1659510737631') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file:before {
  content: "\e73c";
}

.icon-review:before {
  content: "\e739";
}

.icon-download:before {
  content: "\e73a";
}

.icon-open:before {
  content: "\e73b";
}

.icon-polyline:before {
  content: "\e61b";
}

.icon-ai:before {
  content: "\e617";
}

.icon-rect:before {
  content: "\e618";
}

.icon-edit:before {
  content: "\e619";
}

.icon-polygon:before {
  content: "\e61a";
}

.icon-Frame:before {
  content: "\e735";
}

.icon-a-122:before {
  content: "\e736";
}

.icon-loading:before {
  content: "\e737";
}

.icon-Vector:before {
  content: "\e738";
}

.icon-dakai:before {
  content: "\e732";
}

.icon-right:before {
  content: "\e731";
}

.icon-a-zu25265:before {
  content: "\e730";
}

.icon-a-zu25263:before {
  content: "\e72f";
}

.icon-a-zu25262:before {
  content: "\e72e";
}

.icon-gengduoicon:before {
  content: "\e72d";
}

.icon-fuzhuxian:before {
  content: "\e72c";
}

.icon-mubiao:before {
  content: "\e72b";
}

.icon-lifangti:before {
  content: "\e726";
}

.icon-biaozhunkuang:before {
  content: "\e727";
}

.icon-yanjing:before {
  content: "\e71f";
}

.icon-shanchuicon:before {
  content: "\e721";
}

.icon-bianjibiaoqian:before {
  content: "\e722";
}

.icon-shaixuan:before {
  content: "\e724";
}

.icon-pizhuicon:before {
  content: "\e71b";
}

.icon-tianjiapizhu:before {
  content: "\e71c";
}

.icon-yitianjia:before {
  content: "\e71d";
}

.icon-pizhu:before {
  content: "\e71e";
}

.icon-tixing:before {
  content: "\e71a";
}

.icon-zuoxuanze:before {
  content: "\e714";
}

.icon-youxuanzhuan:before {
  content: "\e715";
}

.icon-shang:before {
  content: "\e718";
}

.icon-xia:before {
  content: "\e719";
}

.icon-zhankai1:before {
  content: "\e713";
}

.icon-shouqi:before {
  content: "\e712";
}

.icon-gongju:before {
  content: "\e70e";
}

.icon-yidong:before {
  content: "\e70f";
}

.icon-xuanzhuan:before {
  content: "\e710";
}

.icon-yingshe:before {
  content: "\e711";
}

.icon-xinxi:before {
  content: "\e70b";
}

.icon-xianshi:before {
  content: "\e70c";
}

.icon-tijiao:before {
  content: "\e709";
}

.icon-guaqi:before {
  content: "\e708";
}

.icon-tuichuquanping:before {
  content: "\e706";
}

.icon-a-Fullscreen:before {
  content: "\e705";
}

.icon-help:before {
  content: "\e704";
}

.icon-save:before {
  content: "\e703";
}

.icon-a-Workflow:before {
  content: "\e702";
}

.icon-a-lujing15750:before {
  content: "\e701";
}

.icon-a-Jobinformation:before {
  content: "\e6fe";
}

